// Media queries

@media (max-width: 850px) {
	#sidebar-first,
	#sidebar-second,
	body.one-sidebar.sidebar-first #content,
	body.one-sidebar.sidebar-second #content,
	body.two-sidebars #content {
		float: none;
		width: 100%;
	}
	#mobile-menu-trigger {
		display: block;
		background: url(../img/menu-icon.png) 96% center no-repeat $main;
		padding: 5px 20px;
		cursor: pointer;
		border-bottom: 1px solid $maindark;
		color: #fff;
		font-size: 28px;
	}
	#navigation #block-system-main-menu ul.menu {
		height: 0;
		padding: 0;
		border-top: 5px solid $main;
		overflow: hidden;
		&.mobile-open {
			height: auto;
			border-top: 5px solid $maindark;
		}
		li, li:first-child {
			float: none;
			border: 0;
			border-bottom: 1px solid $maindark;
			padding: 10px 40px;
			&:hover {
				background: $maindark;
				ul {
					position: static;
					li {
						padding-left: 20px;
						&:before {
							content: "> ";
							color: #fff;
						}
					}
				}
			}
		}
	}
}
