/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Base styles for responsive example site.
==================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.messages.error {
  display: none; }

body, html {
  background: #eeeeee;
  color: #3b3c41;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #008ab3;
  text-decoration: none; }
  a:hover {
    color: #006383; }

h1 {
  color: #008ab3;
  margin: 0;
  font-weight: 300;
  font-size: 50px; }

h2 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 40px; }
  h2:first-child {
    margin-top: 0; }

h3 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 0;
  margin-top: .5em; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  padding: 5px 8px;
  border: 1px solid #999; }

code {
  color: #008ab3; }

#page-wrapper, #footer {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }

#header {
  padding: 20px 0 0 0;
  border-top: 8px solid #2d2d2d; }
  #header h1 {
    margin: 0 0 20px 50px; }
  #header #logo {
    float: right;
    margin: 10px 50px 0 0; }

#footer {
  background: #3b3c41;
  color: #666;
  padding: 20px 50px;
  text-align: right;
  font-size: 80%; }
  #footer a {
    color: #fff; }
    #footer a:hover {
      color: #ccc; }

table {
  width: 100%;
  margin: 1em 0; }

.button {
  display: inline-block;
  padding: 5px 10px;
  background: #008ab3;
  color: #fff;
  border: 1px solid #006383; }

body.one-sidebar.sidebar-first #content {
  width: 74%;
  float: right; }

body.one-sidebar.sidebar-second #content {
  width: 74%;
  float: left; }

body.two-sidebars #content {
  width: 48%;
  float: left;
  margin-left: 2%; }

#sidebar-first, #sidebar-second {
  width: 24%;
  background: #fff;
  padding: 15px 20px 20px 20px;
  border: 1px solid #ddd; }
  #sidebar-first h2, #sidebar-second h2 {
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; }

#sidebar-first {
  float: left; }

#sidebar-second {
  float: right; }

#mobile-menu-trigger {
  display: none; }

#navigation #block-system-main-menu ul.menu {
  margin: 0;
  padding: 0 50px;
  background: #008ab3; }
  #navigation #block-system-main-menu ul.menu li {
    display: block;
    float: left;
    border-right: 1px solid #006383;
    margin: 0;
    padding: 0; }
    #navigation #block-system-main-menu ul.menu li:first-child {
      border-left: 1px solid #006383; }
    #navigation #block-system-main-menu ul.menu li a {
      padding: 10px 30px;
      display: inline-block;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
    #navigation #block-system-main-menu ul.menu li ul {
      display: none; }
    #navigation #block-system-main-menu ul.menu li:hover {
      background: #006383; }
      #navigation #block-system-main-menu ul.menu li:hover ul {
        display: block;
        position: absolute;
        z-index: 100;
        background: #006383;
        margin: 0;
        padding: 0; }
      #navigation #block-system-main-menu ul.menu li:hover li {
        display: block;
        float: none;
        border: 0;
        border-top: 1px solid #008ab3; }
        #navigation #block-system-main-menu ul.menu li:hover li:last-child {
          border-bottom: 1px solid #008ab3; }

#main {
  padding: 20px 50px 50px 50px; }
  #main .node > .content {
    border-bottom: 1px solid #008ab3;
    margin-bottom: 40px; }

.feed-icon {
  display: none; }

.filter-wrapper {
  display: none; }

.views-label {
  font-weight: bold; }

ul.links.inline {
  display: block;
  margin: 20px 0; }
  ul.links.inline li.first {
    padding-left: 0; }

#content img.media-image {
  padding: 0 20px 20px 0; }

#comments ul.links.inline {
  margin: 10px 0;
  padding: 0 0 10px 0;
  border-top: 0;
  border-bottom: 0; }
  #comments ul.links.inline li.first {
    padding-left: 0; }
#comments .comment {
  border-bottom: 1px solid #ccc; }
#comments .submitted {
  color: #aaa; }
  #comments .submitted .permalink {
    display: none; }
  #comments .submitted .username {
    color: #3b3c41; }

#edit-submit, #edit-preview {
  background: #008ab3;
  border: 1px solid #006383;
  padding: 10px 20px;
  color: #fff;
  margin-right: 20px; }

#edit-preview {
  background: #ccc;
  border: 1px solid #aaa;
  color: #777; }

li.comment-add a, li.comment-add a.active {
  background: #eee;
  border: 1px solid #ccc;
  color: #777;
  display: inline-block;
  padding: 5px 10px; }

@media (max-width: 850px) {
  #sidebar-first,
  #sidebar-second,
  body.one-sidebar.sidebar-first #content,
  body.one-sidebar.sidebar-second #content,
  body.two-sidebars #content {
    float: none;
    width: 100%; }

  #mobile-menu-trigger {
    display: block;
    background: url(../img/menu-icon.png) 96% center no-repeat #008ab3;
    padding: 5px 20px;
    cursor: pointer;
    border-bottom: 1px solid #006383;
    color: #fff;
    font-size: 28px; }

  #navigation #block-system-main-menu ul.menu {
    height: 0;
    padding: 0;
    border-top: 5px solid #008ab3;
    overflow: hidden; }
    #navigation #block-system-main-menu ul.menu.mobile-open {
      height: auto;
      border-top: 5px solid #006383; }
    #navigation #block-system-main-menu ul.menu li, #navigation #block-system-main-menu ul.menu li:first-child {
      float: none;
      border: 0;
      border-bottom: 1px solid #006383;
      padding: 10px 40px; }
      #navigation #block-system-main-menu ul.menu li:hover, #navigation #block-system-main-menu ul.menu li:first-child:hover {
        background: #006383; }
        #navigation #block-system-main-menu ul.menu li:hover ul, #navigation #block-system-main-menu ul.menu li:first-child:hover ul {
          position: static; }
          #navigation #block-system-main-menu ul.menu li:hover ul li, #navigation #block-system-main-menu ul.menu li:first-child:hover ul li {
            padding-left: 20px; }
            #navigation #block-system-main-menu ul.menu li:hover ul li:before, #navigation #block-system-main-menu ul.menu li:first-child:hover ul li:before {
              content: "> ";
              color: #fff; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .columns:before, #navigation #block-system-main-menu ul.menu:before,
.clearfix:after,
.columns:after,
#navigation #block-system-main-menu ul.menu:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .columns:after, #navigation #block-system-main-menu ul.menu:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, .columns, #navigation #block-system-main-menu ul.menu {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
